{% extends "base/base.html" %}

{% load static %}

{% comment %} Main Css File{% endcomment %}
{% block main_css_file %} 
    <link rel="stylesheet" href="{% static "auth/css/sign.css" %}" />
{% endblock main_css_file %}

{% comment %} Body Part{% endcomment %}

{% block page_content %}

<div class='form-container' >
    <h4>Login</h4>
    <form method="POST">
        {% csrf_token %}

        {{ form.as_div }}
        <button type='submit' class='btn login-btn' >Register</button>
    </form>
    <button type='button' class='btn google-btn' >
        <img src="{% static "css/google-color-icon.svg" %}"/>Continue with Google
    </button>
    <hr>
    <button type='button' class='btn cancel-btn' >
        <a href='#'>Cancel</a>
    </button>

</div>

{% endblock page_content %}